/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:69fc3a693497a73e929fef0de048e594:b925838fb9d7ed82b8b4c14b2c48aea8:55101c531bcde25ac824044e9fe60af8$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-killer {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(kill-css.png);}

._00_aNursesCalling {width:128px; height:128px; background-position: -1px -1px}
._01_agitation {width:128px; height:128px; background-position: -131px -1px}
._02_bamboozle {width:128px; height:128px; background-position: -261px -1px}
._03_barbecueAndChilli {width:128px; height:128px; background-position: -391px -1px}
._04_beastOfPrey {width:128px; height:128px; background-position: -521px -1px}
._05_bitterMurmur {width:128px; height:128px; background-position: -651px -1px}
._06_bloodWarden {width:128px; height:128px; background-position: -781px -1px}
._07_bloodhound {width:128px; height:128px; background-position: -1px -131px}
._08_brutalStrength {width:128px; height:128px; background-position: -131px -131px}
._09_corruptIntervention {width:128px; height:128px; background-position: -261px -131px}
._10_coulrophobia {width:128px; height:128px; background-position: -391px -131px}
._11_darkDevotion {width:128px; height:128px; background-position: -521px -131px}
._12_deerstalker {width:128px; height:128px; background-position: -651px -131px}
._13_discordance {width:128px; height:128px; background-position: -781px -131px}
._14_distressing {width:128px; height:128px; background-position: -1px -261px}
._15_dyingLight {width:128px; height:128px; background-position: -131px -261px}
._16_enduring {width:128px; height:128px; background-position: -261px -261px}
._17_fireUp {width:128px; height:128px; background-position: -391px -261px}
._18_franklinsDemise {width:128px; height:128px; background-position: -521px -261px}
._19_hangmansTrick {width:128px; height:128px; background-position: -651px -261px}
._20_hexDevourHope {width:128px; height:128px; background-position: -781px -261px}
._21_hexHauntedGround {width:128px; height:128px; background-position: -1px -391px}
._22_hexHuntressLullaby {width:128px; height:128px; background-position: -131px -391px}
._23_hexNoOneEscapesDeath {width:128px; height:128px; background-position: -261px -391px}
._24_hexRuin {width:128px; height:128px; background-position: -391px -391px}
._25_hexTheThirdSeal {width:128px; height:128px; background-position: -521px -391px}
._26_hexThrillOfTheHunt {width:128px; height:128px; background-position: -651px -391px}
._27_infectiousFright {width:128px; height:128px; background-position: -781px -391px}
._28_insidious {width:128px; height:128px; background-position: -1px -521px}
._29_ironGrasp {width:128px; height:128px; background-position: -131px -521px}
._30_ironMaiden {width:128px; height:128px; background-position: -261px -521px}
._31_knockOut {width:128px; height:128px; background-position: -391px -521px}
._32_lightborn {width:128px; height:128px; background-position: -521px -521px}
._33_madGrit {width:128px; height:128px; background-position: -651px -521px}
._34_makeYourChoice {width:128px; height:128px; background-position: -781px -521px}
._35_monitorAndAbuse {width:128px; height:128px; background-position: -1px -651px}
._36_monstrousShrine {width:128px; height:128px; background-position: -131px -651px}
._37_overcharge {width:128px; height:128px; background-position: -261px -651px}
._38_overwhelmingPresence {width:128px; height:128px; background-position: -391px -651px}
._39_playWithYourFood {width:128px; height:128px; background-position: -521px -651px}
._40_popGoesTheWeasel {width:128px; height:128px; background-position: -651px -651px}
._41_predator {width:128px; height:128px; background-position: -781px -651px}
._42_rancor {width:128px; height:128px; background-position: -1px -781px}
._43_rememberMe {width:128px; height:128px; background-position: -131px -781px}
._44_saveTheBestForLast {width:128px; height:128px; background-position: -261px -781px}
._45_shadowborn {width:128px; height:128px; background-position: -391px -781px}
._46_sloppyButcher {width:128px; height:128px; background-position: -521px -781px}
._47_spiesFromTheShadows {width:128px; height:128px; background-position: -651px -781px}
._48_spiritFury {width:128px; height:128px; background-position: -781px -781px}
._49_stridor {width:128px; height:128px; background-position: -1px -911px}
._50_surveillance {width:128px; height:128px; background-position: -131px -911px}
._51_territorialImperative {width:128px; height:128px; background-position: -261px -911px}
._52_thanatophobia {width:128px; height:128px; background-position: -391px -911px}
._53_tinkerer {width:128px; height:128px; background-position: -521px -911px}
._54_unnervingPresence {width:128px; height:128px; background-position: -651px -911px}
._55_unrelenting {width:128px; height:128px; background-position: -781px -911px}
._56_whispers {width:128px; height:128px; background-position: -1px -1041px}
._57_imAllEars {width:128px; height:128px; background-position: -131px -1041px}
._58_thrillingTremors {width:128px; height:128px; background-position: -261px -1041px}
._59_furtiveChase {width:128px; height:128px; background-position: -391px -1041px}
._60_cruelLimits {width:128px; height:128px; background-position: -521px -1041px}
._61_mindbreaker {width:128px; height:128px; background-position: -651px -1041px}
._62_surge {width:128px; height:128px; background-position: -781px -1041px}
._63_bloodEcho {width:128px; height:128px; background-position: -1px -1171px}
._64_nemesis {width:128px; height:128px; background-position: -131px -1171px}
._65_zanshinTactics {width:128px; height:128px; background-position: -261px -1171px}
._66_gearhead {width:128px; height:128px; background-position: -391px -1171px}
._67_deadMansSwitch {width:128px; height:128px; background-position: -521px -1171px}
._68_hexRetribution {width:128px; height:128px; background-position: -651px -1171px}
