/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:c1d3ad6a8908350272f4430a05924e66:5edc9854574d43c80c14073a2734dc3d:55101c531bcde25ac824044e9fe60af8$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-killer {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(kill-css.png);}

._00_aNursesCalling {width:128px; height:128px; background-position: -1px -1px}
._01_agitation {width:128px; height:128px; background-position: -1px -131px}
._02_bamboozle {width:128px; height:128px; background-position: -1px -261px}
._03_barbecueAndChilli {width:128px; height:128px; background-position: -1px -391px}
._04_beastOfPrey {width:128px; height:128px; background-position: -1px -521px}
._05_bitterMurmur {width:128px; height:128px; background-position: -1px -651px}
._06_bloodWarden {width:128px; height:128px; background-position: -1px -781px}
._07_bloodhound {width:128px; height:128px; background-position: -131px -1px}
._08_brutalStrength {width:128px; height:128px; background-position: -131px -131px}
._09_corruptIntervention {width:128px; height:128px; background-position: -131px -261px}
._10_coulrophobia {width:128px; height:128px; background-position: -131px -391px}
._11_darkDevotion {width:128px; height:128px; background-position: -131px -521px}
._12_deerstalker {width:128px; height:128px; background-position: -131px -651px}
._13_discordance {width:128px; height:128px; background-position: -131px -781px}
._14_distressing {width:128px; height:128px; background-position: -261px -1px}
._15_dyingLight {width:128px; height:128px; background-position: -261px -131px}
._16_enduring {width:128px; height:128px; background-position: -261px -261px}
._17_fireUp {width:128px; height:128px; background-position: -261px -391px}
._18_franklinsDemise {width:128px; height:128px; background-position: -261px -521px}
._19_hangmansTrick {width:128px; height:128px; background-position: -261px -651px}
._20_hexDevourHope {width:128px; height:128px; background-position: -261px -781px}
._21_hexHauntedGround {width:128px; height:128px; background-position: -391px -1px}
._22_hexHuntressLullaby {width:128px; height:128px; background-position: -391px -131px}
._23_hexNoOneEscapesDeath {width:128px; height:128px; background-position: -391px -261px}
._24_hexRuin {width:128px; height:128px; background-position: -391px -391px}
._25_hexTheThirdSeal {width:128px; height:128px; background-position: -391px -521px}
._26_hexThrillOfTheHunt {width:128px; height:128px; background-position: -391px -651px}
._27_infectiousFright {width:128px; height:128px; background-position: -391px -781px}
._28_insidious {width:128px; height:128px; background-position: -521px -1px}
._29_ironGrasp {width:128px; height:128px; background-position: -521px -131px}
._30_ironMaiden {width:128px; height:128px; background-position: -521px -261px}
._31_knockOut {width:128px; height:128px; background-position: -521px -391px}
._32_lightborn {width:128px; height:128px; background-position: -521px -521px}
._33_madGrit {width:128px; height:128px; background-position: -521px -651px}
._34_makeYourChoice {width:128px; height:128px; background-position: -521px -781px}
._35_monitorAndAbuse {width:128px; height:128px; background-position: -651px -1px}
._36_monstrousShrine {width:128px; height:128px; background-position: -651px -131px}
._37_overcharge {width:128px; height:128px; background-position: -651px -261px}
._38_overwhelmingPresence {width:128px; height:128px; background-position: -651px -391px}
._39_playWithYourFood {width:128px; height:128px; background-position: -651px -521px}
._40_popGoesTheWeasel {width:128px; height:128px; background-position: -651px -651px}
._41_predator {width:128px; height:128px; background-position: -651px -781px}
._42_rancor {width:128px; height:128px; background-position: -781px -1px}
._43_rememberMe {width:128px; height:128px; background-position: -781px -131px}
._44_saveTheBestForLast {width:128px; height:128px; background-position: -781px -261px}
._45_shadowborn {width:128px; height:128px; background-position: -781px -391px}
._46_sloppyButcher {width:128px; height:128px; background-position: -781px -521px}
._47_spiesFromTheShadows {width:128px; height:128px; background-position: -781px -651px}
._48_spiritFury {width:128px; height:128px; background-position: -781px -781px}
._49_stridor {width:128px; height:128px; background-position: -911px -1px}
._50_surveillance {width:128px; height:128px; background-position: -911px -131px}
._51_territorialImperative {width:128px; height:128px; background-position: -911px -261px}
._52_thanatophobia {width:128px; height:128px; background-position: -911px -391px}
._53_tinkerer {width:128px; height:128px; background-position: -911px -521px}
._54_unnervingPresence {width:128px; height:128px; background-position: -911px -651px}
._55_unrelenting {width:128px; height:128px; background-position: -911px -781px}
._56_whispers {width:128px; height:128px; background-position: -1041px -1px}
._57_imAllEars {width:128px; height:128px; background-position: -1171px -1px}
._58_thrillingTremors {width:128px; height:128px; background-position: -1301px -1px}
._59_furtiveChase {width:128px; height:128px; background-position: -1431px -1px}
._60_cruelLimits {width:128px; height:128px; background-position: -1561px -1px}
._61_mindbreaker {width:128px; height:128px; background-position: -1691px -1px}
._62_surge {width:128px; height:128px; background-position: -1821px -1px}
._63_bloodEcho {width:128px; height:128px; background-position: -1041px -131px}
._64_nemesis {width:128px; height:128px; background-position: -1041px -261px}
._65_zanshinTactics {width:128px; height:128px; background-position: -1041px -391px}
._66_gearhead {width:128px; height:128px; background-position: -1041px -521px}
._67_deadMansSwitch {width:128px; height:128px; background-position: -1041px -651px}
._68_hexRetribution {width:128px; height:128px; background-position: -1041px -781px}
._69_forcedPenance {width:128px; height:128px; background-position: -1171px -131px}
._70_trailOfTorment {width:128px; height:128px; background-position: -1301px -131px}
._71_deathbound {width:128px; height:128px; background-position: -1431px -131px}
._72_hexBloodFavour {width:128px; height:128px; background-position: -1561px -131px}
._73_hexUndying {width:128px; height:128px; background-position: -1691px -131px}
._74_dragonsGrip {width:128px; height:128px; background-position: -1821px -131px}
._75_hoarder {width:128px; height:128px; background-position: -1171px -261px}
._76_oppression {width:128px; height:128px; background-position: -1171px -391px}
._77_coupDeGrace {width:128px; height:128px; background-position: -1171px -521px}
._78_starstruck {width:128px; height:128px; background-position: -1171px -651px}
._79_hexCrowdControl {width:128px; height:128px; background-position: -1171px -781px}
._80_noWayOut {width:128px; height:128px; background-position: -1301px -261px}
._81_eruption {width:128px; height:128px; background-position: -1431px -261px}
._82_hysteria {width:128px; height:128px; background-position: -1561px -261px}
._83_lethalPursuer {width:128px; height:128px; background-position: -1691px -261px}
._84_deadlock {width:128px; height:128px; background-position: -1821px -261px}
._85_hexPlaything {width:128px; height:128px; background-position: -1301px -391px}
._86_scourgeHookGiftOfPain {width:128px; height:128px; background-position: -1301px -521px}
._87_grimEmbrace {width:128px; height:128px; background-position: -1301px -651px}
._88_pentimento {width:128px; height:128px; background-position: -1301px -781px}
._89_painResonance {width:128px; height:128px; background-position: -1431px -391px}
._90_callOfBrine {width:128px; height:128px; background-position: -1561px -391px}
._91_floodOfRage {width:128px; height:128px; background-position: -1691px -391px}
._92_mercilessStorm {width:128px; height:128px; background-position: -1821px -391px}
._93_dissolution {width:128px; height:128px; background-position: -1431px -521px}
._94_darknessRevelated {width:128px; height:128px; background-position: -1431px -651px}
._95_septicTouch {width:128px; height:128px; background-position: -1431px -781px}
._96_boonDestroyer {width:128px; height:128px; background-position: -1561px -521px}
._97_awakenedAwarenesss {width:128px; height:128px; background-position: -1691px -521px}
._98_superiorAnatomy {width:128px; height:128px; background-position: -1821px -521px}
._99_terminus {width:128px; height:128px; background-position: -1561px -651px}
