/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:ba42c96a12dafd7131a3d96c83e246af:cd9f338b50c5afda965bc9aae77581e1:55101c531bcde25ac824044e9fe60af8$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-killer {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(kill-css.png);}

._00_aNursesCalling {width:128px; height:128px; background-position: -1px -1px}
._01_agitation {width:128px; height:128px; background-position: -131px -1px}
._02_bamboozle {width:128px; height:128px; background-position: -261px -1px}
._03_barbecueAndChilli {width:128px; height:128px; background-position: -391px -1px}
._04_beastOfPrey {width:128px; height:128px; background-position: -521px -1px}
._05_bitterMurmur {width:128px; height:128px; background-position: -651px -1px}
._06_bloodWarden {width:128px; height:128px; background-position: -781px -1px}
._07_bloodhound {width:128px; height:128px; background-position: -911px -1px}
._08_brutalStrength {width:128px; height:128px; background-position: -1px -131px}
._09_corruptIntervention {width:128px; height:128px; background-position: -131px -131px}
._100_nowhereToHide {width:128px; height:128px; background-position: -521px -1431px}
._101_faceTheDarkness {width:128px; height:128px; background-position: -521px -1561px}
._102_hubris {width:128px; height:128px; background-position: -521px -1691px}
._103_gameAfoot {width:128px; height:128px; background-position: -651px -1431px}
._104_leverage {width:128px; height:128px; background-position: -781px -1431px}
._105_thwack {width:128px; height:128px; background-position: -911px -1431px}
._106_forcedHesitation {width:128px; height:128px; background-position: -651px -1561px}
._107_geneticLimits {width:128px; height:128px; background-position: -651px -1691px}
._108_machineLearning {width:128px; height:128px; background-position: -781px -1561px}
._109_alienInstinct {width:128px; height:128px; background-position: -911px -1561px}
._10_coulrophobia {width:128px; height:128px; background-position: -261px -131px}
._110_rapidBrutality {width:128px; height:128px; background-position: -781px -1691px}
._111_ultimateWeapon {width:128px; height:128px; background-position: -911px -1691px}
._11_darkDevotion {width:128px; height:128px; background-position: -391px -131px}
._12_deerstalker {width:128px; height:128px; background-position: -521px -131px}
._13_discordance {width:128px; height:128px; background-position: -651px -131px}
._14_distressing {width:128px; height:128px; background-position: -781px -131px}
._15_dyingLight {width:128px; height:128px; background-position: -911px -131px}
._16_enduring {width:128px; height:128px; background-position: -1px -261px}
._17_fireUp {width:128px; height:128px; background-position: -131px -261px}
._18_franklinsDemise {width:128px; height:128px; background-position: -261px -261px}
._19_hangmansTrick {width:128px; height:128px; background-position: -391px -261px}
._20_hexDevourHope {width:128px; height:128px; background-position: -521px -261px}
._21_hexHauntedGround {width:128px; height:128px; background-position: -651px -261px}
._22_hexHuntressLullaby {width:128px; height:128px; background-position: -781px -261px}
._23_hexNoOneEscapesDeath {width:128px; height:128px; background-position: -911px -261px}
._24_hexRuin {width:128px; height:128px; background-position: -1px -391px}
._25_hexTheThirdSeal {width:128px; height:128px; background-position: -131px -391px}
._26_hexThrillOfTheHunt {width:128px; height:128px; background-position: -261px -391px}
._27_infectiousFright {width:128px; height:128px; background-position: -391px -391px}
._28_insidious {width:128px; height:128px; background-position: -521px -391px}
._29_ironGrasp {width:128px; height:128px; background-position: -651px -391px}
._30_ironMaiden {width:128px; height:128px; background-position: -781px -391px}
._31_knockOut {width:128px; height:128px; background-position: -911px -391px}
._32_lightborn {width:128px; height:128px; background-position: -1px -521px}
._33_madGrit {width:128px; height:128px; background-position: -131px -521px}
._34_makeYourChoice {width:128px; height:128px; background-position: -261px -521px}
._35_monitorAndAbuse {width:128px; height:128px; background-position: -391px -521px}
._36_monstrousShrine {width:128px; height:128px; background-position: -521px -521px}
._37_overcharge {width:128px; height:128px; background-position: -651px -521px}
._38_overwhelmingPresence {width:128px; height:128px; background-position: -781px -521px}
._39_playWithYourFood {width:128px; height:128px; background-position: -911px -521px}
._40_popGoesTheWeasel {width:128px; height:128px; background-position: -1px -651px}
._41_predator {width:128px; height:128px; background-position: -131px -651px}
._42_rancor {width:128px; height:128px; background-position: -261px -651px}
._43_rememberMe {width:128px; height:128px; background-position: -391px -651px}
._44_saveTheBestForLast {width:128px; height:128px; background-position: -521px -651px}
._45_shadowborn {width:128px; height:128px; background-position: -651px -651px}
._46_sloppyButcher {width:128px; height:128px; background-position: -781px -651px}
._47_spiesFromTheShadows {width:128px; height:128px; background-position: -911px -651px}
._48_spiritFury {width:128px; height:128px; background-position: -1px -781px}
._49_stridor {width:128px; height:128px; background-position: -131px -781px}
._50_surveillance {width:128px; height:128px; background-position: -261px -781px}
._51_territorialImperative {width:128px; height:128px; background-position: -391px -781px}
._52_thanatophobia {width:128px; height:128px; background-position: -521px -781px}
._53_tinkerer {width:128px; height:128px; background-position: -651px -781px}
._54_unnervingPresence {width:128px; height:128px; background-position: -781px -781px}
._55_unrelenting {width:128px; height:128px; background-position: -911px -781px}
._56_whispers {width:128px; height:128px; background-position: -1px -911px}
._57_imAllEars {width:128px; height:128px; background-position: -1px -1041px}
._58_thrillingTremors {width:128px; height:128px; background-position: -1px -1171px}
._59_furtiveChase {width:128px; height:128px; background-position: -1px -1301px}
._60_cruelLimits {width:128px; height:128px; background-position: -1px -1431px}
._61_mindbreaker {width:128px; height:128px; background-position: -1px -1561px}
._62_surge {width:128px; height:128px; background-position: -1px -1691px}
._63_bloodEcho {width:128px; height:128px; background-position: -131px -911px}
._64_nemesis {width:128px; height:128px; background-position: -261px -911px}
._65_zanshinTactics {width:128px; height:128px; background-position: -391px -911px}
._66_gearhead {width:128px; height:128px; background-position: -521px -911px}
._67_deadMansSwitch {width:128px; height:128px; background-position: -651px -911px}
._68_hexRetribution {width:128px; height:128px; background-position: -781px -911px}
._69_forcedPenance {width:128px; height:128px; background-position: -911px -911px}
._70_trailOfTorment {width:128px; height:128px; background-position: -131px -1041px}
._71_deathbound {width:128px; height:128px; background-position: -131px -1171px}
._72_hexBloodFavour {width:128px; height:128px; background-position: -131px -1301px}
._73_hexUndying {width:128px; height:128px; background-position: -131px -1431px}
._74_dragonsGrip {width:128px; height:128px; background-position: -131px -1561px}
._75_hoarder {width:128px; height:128px; background-position: -131px -1691px}
._76_oppression {width:128px; height:128px; background-position: -261px -1041px}
._77_coupDeGrace {width:128px; height:128px; background-position: -391px -1041px}
._78_starstruck {width:128px; height:128px; background-position: -521px -1041px}
._79_hexCrowdControl {width:128px; height:128px; background-position: -651px -1041px}
._80_noWayOut {width:128px; height:128px; background-position: -781px -1041px}
._81_eruption {width:128px; height:128px; background-position: -911px -1041px}
._82_hysteria {width:128px; height:128px; background-position: -261px -1171px}
._83_lethalPursuer {width:128px; height:128px; background-position: -261px -1301px}
._84_Deadlock {width:128px; height:128px; background-position: -261px -1431px}
._85_HexPlaything {width:128px; height:128px; background-position: -261px -1561px}
._86_ScourgeHookGiftOfPain {width:128px; height:128px; background-position: -261px -1691px}
._87_grimEmbrace {width:128px; height:128px; background-position: -391px -1171px}
._88_pentimento {width:128px; height:128px; background-position: -521px -1171px}
._89_painResonance {width:128px; height:128px; background-position: -651px -1171px}
._90_callOfBrine {width:128px; height:128px; background-position: -781px -1171px}
._91_floodOfRage {width:128px; height:128px; background-position: -911px -1171px}
._92_mercilessStorm {width:128px; height:128px; background-position: -391px -1301px}
._93_dissolution {width:128px; height:128px; background-position: -391px -1431px}
._94_darknessRevelated {width:128px; height:128px; background-position: -391px -1561px}
._95_septicTouch {width:128px; height:128px; background-position: -391px -1691px}
._96_boonDestroyer {width:128px; height:128px; background-position: -521px -1301px}
._97_awakenedAwarenesss {width:128px; height:128px; background-position: -651px -1301px}
._98_superiorAnatomy {width:128px; height:128px; background-position: -781px -1301px}
._99_terminus {width:128px; height:128px; background-position: -911px -1301px}
