/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:2c0c789b99396f06556289a3bb7873f1:006d9a913f0821eaed850059c2f5c4a6:e5bd633e660673a85abe99cc533d2bc5$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-survivor {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(surv-css.png);}

._00_aceInTheHole {width:128px; height:128px; background-position: -1px -1px}
._01_adrenaline {width:128px; height:128px; background-position: -131px -1px}
._02_aftercare {width:128px; height:128px; background-position: -261px -1px}
._03_alert {width:128px; height:128px; background-position: -391px -1px}
._04_autodidact {width:128px; height:128px; background-position: -521px -1px}
._05_balancedLanding {width:128px; height:128px; background-position: -651px -1px}
._06_boilOver {width:128px; height:128px; background-position: -781px -1px}
._07_bond {width:128px; height:128px; background-position: -1px -131px}
._08_borrowedTime {width:128px; height:128px; background-position: -131px -131px}
._09_botanyKnowledge {width:128px; height:128px; background-position: -261px -131px}
._10_breakdown {width:128px; height:128px; background-position: -391px -131px}
._11_calmSpirit {width:128px; height:128px; background-position: -521px -131px}
._12_danceWithMe {width:128px; height:128px; background-position: -651px -131px}
._13_darkSense {width:128px; height:128px; background-position: -781px -131px}
._14_deadHard {width:128px; height:128px; background-position: -1px -261px}
._15_decisiveStrike {width:128px; height:128px; background-position: -131px -261px}
._16_dejaVu {width:128px; height:128px; background-position: -261px -261px}
._17_deliverance {width:128px; height:128px; background-position: -391px -261px}
._18_detectivesHunch {width:128px; height:128px; background-position: -521px -261px}
._19_distortion {width:128px; height:128px; background-position: -651px -261px}
._20_diversion {width:128px; height:128px; background-position: -781px -261px}
._21_empathy {width:128px; height:128px; background-position: -1px -391px}
._22_headOn {width:128px; height:128px; background-position: -131px -391px}
._23_hope {width:128px; height:128px; background-position: -261px -391px}
._24_ironWill {width:128px; height:128px; background-position: -391px -391px}
._25_kindred {width:128px; height:128px; background-position: -521px -391px}
._26_leader {width:128px; height:128px; background-position: -651px -391px}
._27_leftBehind {width:128px; height:128px; background-position: -781px -391px}
._28_lightweight {width:128px; height:128px; background-position: -1px -521px}
._29_lithe {width:128px; height:128px; background-position: -131px -521px}
._30_noMither {width:128px; height:128px; background-position: -261px -521px}
._31_noOneLeftBehind {width:128px; height:128px; background-position: -391px -521px}
._32_objectOfObsession {width:128px; height:128px; background-position: -521px -521px}
._33_open-Handed {width:128px; height:128px; background-position: -651px -521px}
._34_pharmacy {width:128px; height:128px; background-position: -781px -521px}
._35_plunderersInstinct {width:128px; height:128px; background-position: -1px -651px}
._36_poised {width:128px; height:128px; background-position: -131px -651px}
._37_premonition {width:128px; height:128px; background-position: -261px -651px}
._38_proveThyself {width:128px; height:128px; background-position: -391px -651px}
._39_quickAndQuiet {width:128px; height:128px; background-position: -521px -651px}
._40_resilience {width:128px; height:128px; background-position: -651px -651px}
._41_saboteur {width:128px; height:128px; background-position: -781px -651px}
._42_selfCare {width:128px; height:128px; background-position: -1px -781px}
._43_slipperyMeat {width:128px; height:128px; background-position: -131px -781px}
._44_smallGame {width:128px; height:128px; background-position: -261px -781px}
._45_soleSurvivor {width:128px; height:128px; background-position: -391px -781px}
._46_solidarity {width:128px; height:128px; background-position: -521px -781px}
._47_spineChill {width:128px; height:128px; background-position: -651px -781px}
._48_sprintBurst {width:128px; height:128px; background-position: -781px -781px}
._49_stakeOut {width:128px; height:128px; background-position: -1px -911px}
._50_streetwise {width:128px; height:128px; background-position: -131px -911px}
._51_technician {width:128px; height:128px; background-position: -261px -911px}
._52_tenacity {width:128px; height:128px; background-position: -391px -911px}
._53_thisIsNotHappening {width:128px; height:128px; background-position: -521px -911px}
._54_unbreakable {width:128px; height:128px; background-position: -651px -911px}
._55_upTheAnte {width:128px; height:128px; background-position: -781px -911px}
._56_urbanEvasion {width:128px; height:128px; background-position: -1px -1041px}
._57_vigil {width:128px; height:128px; background-position: -131px -1041px}
._58_wakeUp {width:128px; height:128px; background-position: -261px -1041px}
._59_wellMakeIt {width:128px; height:128px; background-position: -391px -1041px}
._60_wereGonnaLiveForever {width:128px; height:128px; background-position: -521px -1041px}
._61_windowsOfOpportunity {width:128px; height:128px; background-position: -651px -1041px}
._62_buckleUp {width:128px; height:128px; background-position: -781px -1041px}
._63_flipFlop {width:128px; height:128px; background-position: -1px -1171px}
._64_mettleOfMan {width:128px; height:128px; background-position: -131px -1171px}
._65_babySitter {width:128px; height:128px; background-position: -261px -1171px}
._66_camaraderie {width:128px; height:128px; background-position: -391px -1171px}
._67_secondWind {width:128px; height:128px; background-position: -521px -1171px}
._68_betterTogether {width:128px; height:128px; background-position: -651px -1171px}
._69_fixated {width:128px; height:128px; background-position: -781px -1171px}
._70_innerStrength {width:128px; height:128px; background-position: -1px -1301px}
._71_breakout {width:128px; height:128px; background-position: -131px -1301px}
._72_anyMeansNecessary {width:128px; height:128px; background-position: -261px -1301px}
._73_luckyBreak {width:128px; height:128px; background-position: -391px -1301px}
._74_offTheRecord {width:128px; height:128px; background-position: -521px -1301px}
._75_redHerring {width:128px; height:128px; background-position: -651px -1301px}
._76_forThePeople {width:128px; height:128px; background-position: -781px -1301px}
._77_soulGuard {width:128px; height:128px; background-position: -1px -1431px}
._78_bloodPact {width:128px; height:128px; background-position: -131px -1431px}
._79_repressedAlliance {width:128px; height:128px; background-position: -261px -1431px}
._80_desperateMeasures {width:128px; height:128px; background-position: -391px -1431px}
._81_builtToLast {width:128px; height:128px; background-position: -521px -1431px}
._82_visionary {width:128px; height:128px; background-position: -651px -1431px}
._83_appraisal {width:128px; height:128px; background-position: -781px -1431px}
._84_deception {width:128px; height:128px; background-position: -1px -1561px}
._85_powerStruggle {width:128px; height:128px; background-position: -131px -1561px}
._86_fastTrack {width:128px; height:128px; background-position: -261px -1561px}
._87_selfPreservation {width:128px; height:128px; background-position: -391px -1561px}
._88_smashHit {width:128px; height:128px; background-position: -521px -1561px}
._89_BiteTheBullet {width:128px; height:128px; background-position: -651px -1561px}
._90_blastMine {width:128px; height:128px; background-position: -781px -1561px}
._91_Counterforce {width:128px; height:128px; background-position: -1px -1691px}
._92_Flashbang {width:128px; height:128px; background-position: -131px -1691px}
._93_Resurgence {width:128px; height:128px; background-position: -261px -1691px}
._94_RookieSpirit {width:128px; height:128px; background-position: -391px -1691px}
