/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:cf4f2bc5037fad1a8ee0a15d2b993e1b:fbdca597314a461e0b29cfef6d4e89d7:e5bd633e660673a85abe99cc533d2bc5$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-survivor {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(surv-css.png);}

._00_aceInTheHole {width:128px; height:128px; background-position: -1px -1px}
._01_adrenaline {width:128px; height:128px; background-position: -131px -1px}
._02_aftercare {width:128px; height:128px; background-position: -261px -1px}
._03_alert {width:128px; height:128px; background-position: -391px -1px}
._04_autodidact {width:128px; height:128px; background-position: -521px -1px}
._05_balancedLanding {width:128px; height:128px; background-position: -651px -1px}
._06_boilOver {width:128px; height:128px; background-position: -781px -1px}
._07_bond {width:128px; height:128px; background-position: -911px -1px}
._08_borrowedTime {width:128px; height:128px; background-position: -1041px -1px}
._09_botanyKnowledge {width:128px; height:128px; background-position: -1171px -1px}
._100_overcome {width:128px; height:128px; background-position: -391px -1301px}
._101_darkTheory {width:128px; height:128px; background-position: -391px -1431px}
._102_empathicConnection {width:128px; height:128px; background-position: -391px -1561px}
._103_parentalGuidance {width:128px; height:128px; background-position: -391px -1691px}
._104_innerFocus {width:128px; height:128px; background-position: -521px -781px}
._105_residualManifest {width:128px; height:128px; background-position: -651px -781px}
._106_overzealous {width:128px; height:128px; background-position: -781px -781px}
._107_betterThanNew {width:128px; height:128px; background-position: -911px -781px}
._108_hyperfocus {width:128px; height:128px; background-position: -1041px -781px}
._109_lowProfile {width:128px; height:128px; background-position: -1171px -781px}
._10_breakdown {width:128px; height:128px; background-position: -1301px -1px}
._110_reactiveHealing {width:128px; height:128px; background-position: -1301px -781px}
._111_reassurance {width:128px; height:128px; background-position: -1431px -781px}
._112_wiretap {width:128px; height:128px; background-position: -521px -911px}
._113_potentialEnergy {width:128px; height:128px; background-position: -521px -1041px}
._114_fogwise {width:128px; height:128px; background-position: -521px -1171px}
._115_quickGambit {width:128px; height:128px; background-position: -521px -1301px}
._116_backgroundPlayer {width:128px; height:128px; background-position: -521px -1431px}
._117_bloodRush {width:128px; height:128px; background-position: -521px -1561px}
._118_cutLoose {width:128px; height:128px; background-position: -521px -1691px}
._119_friendlyCompetition {width:128px; height:128px; background-position: -651px -911px}
._11_calmSpirit {width:128px; height:128px; background-position: -1431px -1px}
._120_teamworkCollectiveStealth {width:128px; height:128px; background-position: -781px -911px}
._121_teamworkPowerOfTwo {width:128px; height:128px; background-position: -911px -911px}
._122_madeForThis {width:128px; height:128px; background-position: -1041px -911px}
._123_scavenger {width:128px; height:128px; background-position: -1171px -911px}
._124_troubleshooter {width:128px; height:128px; background-position: -1301px -911px}
._125_dramaturgy {width:128px; height:128px; background-position: -1431px -911px}
._126_scenePartner {width:128px; height:128px; background-position: -651px -1041px}
._127_plotTwist {width:128px; height:128px; background-position: -651px -1171px}
._128_chemicalTrap {width:128px; height:128px; background-position: -651px -1301px}
._129_light-Footed {width:128px; height:128px; background-position: -651px -1431px}
._12_danceWithMe {width:128px; height:128px; background-position: -1px -131px}
._130_luckyStar {width:128px; height:128px; background-position: -651px -1561px}
._131_boonIllumination {width:128px; height:128px; background-position: -651px -1691px}
._132_championOfLight {width:128px; height:128px; background-position: -781px -1041px}
._133_deadline {width:128px; height:128px; background-position: -911px -1041px}
._134_invocationWeavingSpiders {width:128px; height:128px; background-position: -1041px -1041px}
._135_strengthInShadows {width:128px; height:128px; background-position: -1171px -1041px}
._136_wicked {width:128px; height:128px; background-position: -1301px -1041px}
._137_bardicInspiration {width:128px; height:128px; background-position: -1431px -1041px}
._138_mirroredIllusion {width:128px; height:128px; background-position: -781px -1171px}
._139_stillSight {width:128px; height:128px; background-position: -781px -1301px}
._13_darkSense {width:128px; height:128px; background-position: -131px -131px}
._140_specialist {width:128px; height:128px; background-position: -781px -1431px}
._141_finesse {width:128px; height:128px; background-position: -781px -1561px}
._142_hardened {width:128px; height:128px; background-position: -781px -1691px}
._143_exultation {width:128px; height:128px; background-position: -911px -1171px}
._144_eyesOfBelmont {width:128px; height:128px; background-position: -1041px -1171px}
._145_momentOfGlory {width:128px; height:128px; background-position: -1171px -1171px}
._146_cleanBreak {width:128px; height:128px; background-position: -1301px -1171px}
._147_treacherousCrows {width:128px; height:128px; background-position: -1431px -1171px}
._148_shoulderTheBurden {width:128px; height:128px; background-position: -911px -1301px}
._149_doNoHarm {width:128px; height:128px; background-position: -911px -1431px}
._14_deadHard {width:128px; height:128px; background-position: -261px -131px}
._150_dutyOfCare {width:128px; height:128px; background-position: -911px -1561px}
._151_rapidResponse {width:128px; height:128px; background-position: -911px -1691px}
._152_apocalypticIngenuity {width:128px; height:128px; background-position: -1041px -1301px}
._153_comeAndGetMe {width:128px; height:128px; background-position: -1171px -1301px}
._154_teamworkToughenUp {width:128px; height:128px; background-position: -1301px -1301px}
._155_conviction {width:128px; height:128px; background-position: -1431px -1301px}
._156_lastStand {width:128px; height:128px; background-position: -1041px -1431px}
._157_teamworkThrowDown {width:128px; height:128px; background-position: -1041px -1561px}
._158_ghostNotes {width:128px; height:128px; background-position: -1041px -1691px}
._159_oneTwoThreeFour {width:128px; height:128px; background-position: -1171px -1431px}
._15_decisiveStrike {width:128px; height:128px; background-position: -391px -131px}
._160_roadLife {width:128px; height:128px; background-position: -1301px -1431px}
._161_badaBadaBoom {width:128px; height:128px; background-position: -1431px -1431px}
._162_changeOfPlan {width:128px; height:128px; background-position: -1171px -1561px}
._163_teamworkFullCircuit {width:128px; height:128px; background-position: -1171px -1691px}
._164_extrasensoryPerception {width:128px; height:128px; background-position: -1301px -1561px}
._165_teamworkSoftSpoken {width:128px; height:128px; background-position: -1431px -1561px}
._166_weSeeYou {width:128px; height:128px; background-position: -1301px -1691px}
._16_dejaVu {width:128px; height:128px; background-position: -521px -131px}
._17_deliverance {width:128px; height:128px; background-position: -651px -131px}
._18_detectivesHunch {width:128px; height:128px; background-position: -781px -131px}
._19_distortion {width:128px; height:128px; background-position: -911px -131px}
._20_diversion {width:128px; height:128px; background-position: -1041px -131px}
._21_empathy {width:128px; height:128px; background-position: -1171px -131px}
._22_headOn {width:128px; height:128px; background-position: -1301px -131px}
._23_hope {width:128px; height:128px; background-position: -1431px -131px}
._24_ironWill {width:128px; height:128px; background-position: -1px -261px}
._25_kindred {width:128px; height:128px; background-position: -131px -261px}
._26_leader {width:128px; height:128px; background-position: -261px -261px}
._27_leftBehind {width:128px; height:128px; background-position: -391px -261px}
._28_lightweight {width:128px; height:128px; background-position: -521px -261px}
._29_lithe {width:128px; height:128px; background-position: -651px -261px}
._30_noMither {width:128px; height:128px; background-position: -781px -261px}
._31_noOneLeftBehind {width:128px; height:128px; background-position: -911px -261px}
._32_objectOfObsession {width:128px; height:128px; background-position: -1041px -261px}
._33_open-Handed {width:128px; height:128px; background-position: -1171px -261px}
._34_pharmacy {width:128px; height:128px; background-position: -1301px -261px}
._35_plunderersInstinct {width:128px; height:128px; background-position: -1431px -261px}
._36_poised {width:128px; height:128px; background-position: -1px -391px}
._37_premonition {width:128px; height:128px; background-position: -1px -521px}
._38_proveThyself {width:128px; height:128px; background-position: -1px -651px}
._39_quickAndQuiet {width:128px; height:128px; background-position: -1px -781px}
._40_resilience {width:128px; height:128px; background-position: -1px -911px}
._41_saboteur {width:128px; height:128px; background-position: -1px -1041px}
._42_selfCare {width:128px; height:128px; background-position: -1px -1171px}
._43_slipperyMeat {width:128px; height:128px; background-position: -1px -1301px}
._44_smallGame {width:128px; height:128px; background-position: -1px -1431px}
._45_soleSurvivor {width:128px; height:128px; background-position: -1px -1561px}
._46_solidarity {width:128px; height:128px; background-position: -1px -1691px}
._47_spineChill {width:128px; height:128px; background-position: -131px -391px}
._48_sprintBurst {width:128px; height:128px; background-position: -261px -391px}
._49_stakeOut {width:128px; height:128px; background-position: -391px -391px}
._50_streetwise {width:128px; height:128px; background-position: -521px -391px}
._51_technician {width:128px; height:128px; background-position: -651px -391px}
._52_tenacity {width:128px; height:128px; background-position: -781px -391px}
._53_thisIsNotHappening {width:128px; height:128px; background-position: -911px -391px}
._54_unbreakable {width:128px; height:128px; background-position: -1041px -391px}
._55_upTheAnte {width:128px; height:128px; background-position: -1171px -391px}
._56_urbanEvasion {width:128px; height:128px; background-position: -1301px -391px}
._57_vigil {width:128px; height:128px; background-position: -1431px -391px}
._58_wakeUp {width:128px; height:128px; background-position: -131px -521px}
._59_wellMakeIt {width:128px; height:128px; background-position: -131px -651px}
._60_wereGonnaLiveForever {width:128px; height:128px; background-position: -131px -781px}
._61_windowsOfOpportunity {width:128px; height:128px; background-position: -131px -911px}
._62_buckleUp {width:128px; height:128px; background-position: -131px -1041px}
._63_flipFlop {width:128px; height:128px; background-position: -131px -1171px}
._64_mettleOfMan {width:128px; height:128px; background-position: -131px -1301px}
._65_babySitter {width:128px; height:128px; background-position: -131px -1431px}
._66_camaraderie {width:128px; height:128px; background-position: -131px -1561px}
._67_secondWind {width:128px; height:128px; background-position: -131px -1691px}
._68_betterTogether {width:128px; height:128px; background-position: -261px -521px}
._69_fixated {width:128px; height:128px; background-position: -391px -521px}
._70_innerStrength {width:128px; height:128px; background-position: -521px -521px}
._71_breakout {width:128px; height:128px; background-position: -651px -521px}
._72_anyMeansNecessary {width:128px; height:128px; background-position: -781px -521px}
._73_luckyBreak {width:128px; height:128px; background-position: -911px -521px}
._74_offTheRecord {width:128px; height:128px; background-position: -1041px -521px}
._75_redHerring {width:128px; height:128px; background-position: -1171px -521px}
._76_forThePeople {width:128px; height:128px; background-position: -1301px -521px}
._77_soulGuard {width:128px; height:128px; background-position: -1431px -521px}
._78_bloodPact {width:128px; height:128px; background-position: -261px -651px}
._79_repressedAlliance {width:128px; height:128px; background-position: -261px -781px}
._80_desperateMeasures {width:128px; height:128px; background-position: -261px -911px}
._81_builtToLast {width:128px; height:128px; background-position: -261px -1041px}
._82_visionary {width:128px; height:128px; background-position: -261px -1171px}
._83_appraisal {width:128px; height:128px; background-position: -261px -1301px}
._84_deception {width:128px; height:128px; background-position: -261px -1431px}
._85_powerStruggle {width:128px; height:128px; background-position: -261px -1561px}
._86_fastTrack {width:128px; height:128px; background-position: -261px -1691px}
._87_selfPreservation {width:128px; height:128px; background-position: -391px -651px}
._88_smashHit {width:128px; height:128px; background-position: -521px -651px}
._89_biteTheBullet {width:128px; height:128px; background-position: -651px -651px}
._90_blastMine {width:128px; height:128px; background-position: -781px -651px}
._91_counterforce {width:128px; height:128px; background-position: -911px -651px}
._92_flashbang {width:128px; height:128px; background-position: -1041px -651px}
._93_resurgence {width:128px; height:128px; background-position: -1171px -651px}
._94_rookieSpirit {width:128px; height:128px; background-position: -1301px -651px}
._95_circleOfHealing {width:128px; height:128px; background-position: -1431px -651px}
._96_shadowStep {width:128px; height:128px; background-position: -391px -781px}
._97_clairvoyance {width:128px; height:128px; background-position: -391px -911px}
._98_exponential {width:128px; height:128px; background-position: -391px -1041px}
._99_correctiveAction {width:128px; height:128px; background-position: -391px -1171px}
