        
.slotKill-0 {
background: url('/img/perkslotsKill.png') 0 0;
}
.blurred > .slotKill-0 {
background: url('/img/perkslotsKill_blur.png') 0 0;
}        
.slotKill-1 {
background: url('/img/perkslotsKill.png') 0 -256px;
}
.blurred > .slotKill-1 {
background: url('/img/perkslotsKill_blur.png') 0 -256px;
}        
.slotKill-2 {
background: url('/img/perkslotsKill.png') 0 -512px;
}
.blurred > .slotKill-2 {
background: url('/img/perkslotsKill_blur.png') 0 -512px;
}        
.slotKill-3 {
background: url('/img/perkslotsKill.png') 0 -768px;
}
.blurred > .slotKill-3 {
background: url('/img/perkslotsKill_blur.png') 0 -768px;
}        
.slotKill-4 {
background: url('/img/perkslotsKill.png') 0 -1024px;
}
.blurred > .slotKill-4 {
background: url('/img/perkslotsKill_blur.png') 0 -1024px;
}        
.slotKill-5 {
background: url('/img/perkslotsKill.png') 0 -1280px;
}
.blurred > .slotKill-5 {
background: url('/img/perkslotsKill_blur.png') 0 -1280px;
}        
.slotKill-6 {
background: url('/img/perkslotsKill.png') 0 -1536px;
}
.blurred > .slotKill-6 {
background: url('/img/perkslotsKill_blur.png') 0 -1536px;
}        
.slotKill-7 {
background: url('/img/perkslotsKill.png') 0 -1792px;
}
.blurred > .slotKill-7 {
background: url('/img/perkslotsKill_blur.png') 0 -1792px;
}        
.slotKill-8 {
background: url('/img/perkslotsKill.png') 0 -2048px;
}
.blurred > .slotKill-8 {
background: url('/img/perkslotsKill_blur.png') 0 -2048px;
}        
.slotKill-9 {
background: url('/img/perkslotsKill.png') 0 -2304px;
}
.blurred > .slotKill-9 {
background: url('/img/perkslotsKill_blur.png') 0 -2304px;
}        
.slotKill-10 {
background: url('/img/perkslotsKill.png') 0 -2560px;
}
.blurred > .slotKill-10 {
background: url('/img/perkslotsKill_blur.png') 0 -2560px;
}        
.slotKill-11 {
background: url('/img/perkslotsKill.png') 0 -2816px;
}
.blurred > .slotKill-11 {
background: url('/img/perkslotsKill_blur.png') 0 -2816px;
}        
.slotKill-12 {
background: url('/img/perkslotsKill.png') 0 -3072px;
}
.blurred > .slotKill-12 {
background: url('/img/perkslotsKill_blur.png') 0 -3072px;
}        
.slotKill-13 {
background: url('/img/perkslotsKill.png') 0 -3328px;
}
.blurred > .slotKill-13 {
background: url('/img/perkslotsKill_blur.png') 0 -3328px;
}        
.slotKill-14 {
background: url('/img/perkslotsKill.png') 0 -3584px;
}
.blurred > .slotKill-14 {
background: url('/img/perkslotsKill_blur.png') 0 -3584px;
}        
.slotKill-15 {
background: url('/img/perkslotsKill.png') 0 -3840px;
}
.blurred > .slotKill-15 {
background: url('/img/perkslotsKill_blur.png') 0 -3840px;
}        
.slotKill-16 {
background: url('/img/perkslotsKill.png') 0 -4096px;
}
.blurred > .slotKill-16 {
background: url('/img/perkslotsKill_blur.png') 0 -4096px;
}        
.slotKill-17 {
background: url('/img/perkslotsKill.png') 0 -4352px;
}
.blurred > .slotKill-17 {
background: url('/img/perkslotsKill_blur.png') 0 -4352px;
}        
.slotKill-18 {
background: url('/img/perkslotsKill.png') 0 -4608px;
}
.blurred > .slotKill-18 {
background: url('/img/perkslotsKill_blur.png') 0 -4608px;
}        
.slotKill-19 {
background: url('/img/perkslotsKill.png') 0 -4864px;
}
.blurred > .slotKill-19 {
background: url('/img/perkslotsKill_blur.png') 0 -4864px;
}        
.slotKill-20 {
background: url('/img/perkslotsKill.png') 0 -5120px;
}
.blurred > .slotKill-20 {
background: url('/img/perkslotsKill_blur.png') 0 -5120px;
}        
.slotKill-21 {
background: url('/img/perkslotsKill.png') 0 -5376px;
}
.blurred > .slotKill-21 {
background: url('/img/perkslotsKill_blur.png') 0 -5376px;
}        
.slotKill-22 {
background: url('/img/perkslotsKill.png') 0 -5632px;
}
.blurred > .slotKill-22 {
background: url('/img/perkslotsKill_blur.png') 0 -5632px;
}        
.slotKill-23 {
background: url('/img/perkslotsKill.png') 0 -5888px;
}
.blurred > .slotKill-23 {
background: url('/img/perkslotsKill_blur.png') 0 -5888px;
}        
.slotKill-24 {
background: url('/img/perkslotsKill.png') 0 -6144px;
}
.blurred > .slotKill-24 {
background: url('/img/perkslotsKill_blur.png') 0 -6144px;
}        
.slotKill-25 {
background: url('/img/perkslotsKill.png') 0 -6400px;
}
.blurred > .slotKill-25 {
background: url('/img/perkslotsKill_blur.png') 0 -6400px;
}        
.slotKill-26 {
background: url('/img/perkslotsKill.png') 0 -6656px;
}
.blurred > .slotKill-26 {
background: url('/img/perkslotsKill_blur.png') 0 -6656px;
}        
.slotKill-27 {
background: url('/img/perkslotsKill.png') 0 -6912px;
}
.blurred > .slotKill-27 {
background: url('/img/perkslotsKill_blur.png') 0 -6912px;
}        
.slotKill-28 {
background: url('/img/perkslotsKill.png') 0 -7168px;
}
.blurred > .slotKill-28 {
background: url('/img/perkslotsKill_blur.png') 0 -7168px;
}        
.slotKill-29 {
background: url('/img/perkslotsKill.png') 0 -7424px;
}
.blurred > .slotKill-29 {
background: url('/img/perkslotsKill_blur.png') 0 -7424px;
}        
.slotKill-30 {
background: url('/img/perkslotsKill.png') 0 -7680px;
}
.blurred > .slotKill-30 {
background: url('/img/perkslotsKill_blur.png') 0 -7680px;
}        
.slotKill-31 {
background: url('/img/perkslotsKill.png') 0 -7936px;
}
.blurred > .slotKill-31 {
background: url('/img/perkslotsKill_blur.png') 0 -7936px;
}        
.slotKill-32 {
background: url('/img/perkslotsKill.png') 0 -8192px;
}
.blurred > .slotKill-32 {
background: url('/img/perkslotsKill_blur.png') 0 -8192px;
}        
.slotKill-33 {
background: url('/img/perkslotsKill.png') 0 -8448px;
}
.blurred > .slotKill-33 {
background: url('/img/perkslotsKill_blur.png') 0 -8448px;
}        
.slotKill-34 {
background: url('/img/perkslotsKill.png') 0 -8704px;
}
.blurred > .slotKill-34 {
background: url('/img/perkslotsKill_blur.png') 0 -8704px;
}        
.slotKill-35 {
background: url('/img/perkslotsKill.png') 0 -8960px;
}
.blurred > .slotKill-35 {
background: url('/img/perkslotsKill_blur.png') 0 -8960px;
}        
.slotKill-36 {
background: url('/img/perkslotsKill.png') 0 -9216px;
}
.blurred > .slotKill-36 {
background: url('/img/perkslotsKill_blur.png') 0 -9216px;
}        
.slotKill-37 {
background: url('/img/perkslotsKill.png') 0 -9472px;
}
.blurred > .slotKill-37 {
background: url('/img/perkslotsKill_blur.png') 0 -9472px;
}        
.slotKill-38 {
background: url('/img/perkslotsKill.png') 0 -9728px;
}
.blurred > .slotKill-38 {
background: url('/img/perkslotsKill_blur.png') 0 -9728px;
}        
.slotKill-39 {
background: url('/img/perkslotsKill.png') 0 -9984px;
}
.blurred > .slotKill-39 {
background: url('/img/perkslotsKill_blur.png') 0 -9984px;
}        
.slotKill-40 {
background: url('/img/perkslotsKill.png') 0 -10240px;
}
.blurred > .slotKill-40 {
background: url('/img/perkslotsKill_blur.png') 0 -10240px;
}        
.slotKill-41 {
background: url('/img/perkslotsKill.png') 0 -10496px;
}
.blurred > .slotKill-41 {
background: url('/img/perkslotsKill_blur.png') 0 -10496px;
}        
.slotKill-42 {
background: url('/img/perkslotsKill.png') 0 -10752px;
}
.blurred > .slotKill-42 {
background: url('/img/perkslotsKill_blur.png') 0 -10752px;
}        
.slotKill-43 {
background: url('/img/perkslotsKill.png') 0 -11008px;
}
.blurred > .slotKill-43 {
background: url('/img/perkslotsKill_blur.png') 0 -11008px;
}        
.slotKill-44 {
background: url('/img/perkslotsKill.png') 0 -11264px;
}
.blurred > .slotKill-44 {
background: url('/img/perkslotsKill_blur.png') 0 -11264px;
}        
.slotKill-45 {
background: url('/img/perkslotsKill.png') 0 -11520px;
}
.blurred > .slotKill-45 {
background: url('/img/perkslotsKill_blur.png') 0 -11520px;
}        
.slotKill-46 {
background: url('/img/perkslotsKill.png') 0 -11776px;
}
.blurred > .slotKill-46 {
background: url('/img/perkslotsKill_blur.png') 0 -11776px;
}        
.slotKill-47 {
background: url('/img/perkslotsKill.png') 0 -12032px;
}
.blurred > .slotKill-47 {
background: url('/img/perkslotsKill_blur.png') 0 -12032px;
}        
.slotKill-48 {
background: url('/img/perkslotsKill.png') 0 -12288px;
}
.blurred > .slotKill-48 {
background: url('/img/perkslotsKill_blur.png') 0 -12288px;
}        
.slotKill-49 {
background: url('/img/perkslotsKill.png') 0 -12544px;
}
.blurred > .slotKill-49 {
background: url('/img/perkslotsKill_blur.png') 0 -12544px;
}        
.slotKill-50 {
background: url('/img/perkslotsKill.png') 0 -12800px;
}
.blurred > .slotKill-50 {
background: url('/img/perkslotsKill_blur.png') 0 -12800px;
}        
.slotKill-51 {
background: url('/img/perkslotsKill.png') 0 -13056px;
}
.blurred > .slotKill-51 {
background: url('/img/perkslotsKill_blur.png') 0 -13056px;
}        
.slotKill-52 {
background: url('/img/perkslotsKill.png') 0 -13312px;
}
.blurred > .slotKill-52 {
background: url('/img/perkslotsKill_blur.png') 0 -13312px;
}        
.slotKill-53 {
background: url('/img/perkslotsKill.png') 0 -13568px;
}
.blurred > .slotKill-53 {
background: url('/img/perkslotsKill_blur.png') 0 -13568px;
}