        
.slotSurv-0 {
background: url('/img/perkslotsSurv.png') 0 0;
}

.blurred > .slotSurv-0 {
background: url('/img/perkslotsSurv_blur.png') 0 0;
}        
.slotSurv-1 {
background: url('/img/perkslotsSurv.png') 0 -256px;
}

.blurred > .slotSurv-1 {
background: url('/img/perkslotsSurv_blur.png') 0 -256px;
}        
.slotSurv-2 {
background: url('/img/perkslotsSurv.png') 0 -512px;
}

.blurred > .slotSurv-2 {
background: url('/img/perkslotsSurv_blur.png') 0 -512px;
}        
.slotSurv-3 {
background: url('/img/perkslotsSurv.png') 0 -768px;
}

.blurred > .slotSurv-3 {
background: url('/img/perkslotsSurv_blur.png') 0 -768px;
}        
.slotSurv-4 {
background: url('/img/perkslotsSurv.png') 0 -1024px;
}

.blurred > .slotSurv-4 {
background: url('/img/perkslotsSurv_blur.png') 0 -1024px;
}        
.slotSurv-5 {
background: url('/img/perkslotsSurv.png') 0 -1280px;
}

.blurred > .slotSurv-5 {
background: url('/img/perkslotsSurv_blur.png') 0 -1280px;
}        
.slotSurv-6 {
background: url('/img/perkslotsSurv.png') 0 -1536px;
}

.blurred > .slotSurv-6 {
background: url('/img/perkslotsSurv_blur.png') 0 -1536px;
}        
.slotSurv-7 {
background: url('/img/perkslotsSurv.png') 0 -1792px;
}

.blurred > .slotSurv-7 {
background: url('/img/perkslotsSurv_blur.png') 0 -1792px;
}        
.slotSurv-8 {
background: url('/img/perkslotsSurv.png') 0 -2048px;
}

.blurred > .slotSurv-8 {
background: url('/img/perkslotsSurv_blur.png') 0 -2048px;
}        
.slotSurv-9 {
background: url('/img/perkslotsSurv.png') 0 -2304px;
}

.blurred > .slotSurv-9 {
background: url('/img/perkslotsSurv_blur.png') 0 -2304px;
}        
.slotSurv-10 {
background: url('/img/perkslotsSurv.png') 0 -2560px;
}

.blurred > .slotSurv-10 {
background: url('/img/perkslotsSurv_blur.png') 0 -2560px;
}        
.slotSurv-11 {
background: url('/img/perkslotsSurv.png') 0 -2816px;
}

.blurred > .slotSurv-11 {
background: url('/img/perkslotsSurv_blur.png') 0 -2816px;
}        
.slotSurv-12 {
background: url('/img/perkslotsSurv.png') 0 -3072px;
}

.blurred > .slotSurv-12 {
background: url('/img/perkslotsSurv_blur.png') 0 -3072px;
}        
.slotSurv-13 {
background: url('/img/perkslotsSurv.png') 0 -3328px;
}

.blurred > .slotSurv-13 {
background: url('/img/perkslotsSurv_blur.png') 0 -3328px;
}        
.slotSurv-14 {
background: url('/img/perkslotsSurv.png') 0 -3584px;
}

.blurred > .slotSurv-14 {
background: url('/img/perkslotsSurv_blur.png') 0 -3584px;
}        
.slotSurv-15 {
background: url('/img/perkslotsSurv.png') 0 -3840px;
}

.blurred > .slotSurv-15 {
background: url('/img/perkslotsSurv_blur.png') 0 -3840px;
}        
.slotSurv-16 {
background: url('/img/perkslotsSurv.png') 0 -4096px;
}

.blurred > .slotSurv-16 {
background: url('/img/perkslotsSurv_blur.png') 0 -4096px;
}        
.slotSurv-17 {
background: url('/img/perkslotsSurv.png') 0 -4352px;
}

.blurred > .slotSurv-17 {
background: url('/img/perkslotsSurv_blur.png') 0 -4352px;
}        
.slotSurv-18 {
background: url('/img/perkslotsSurv.png') 0 -4608px;
}

.blurred > .slotSurv-18 {
background: url('/img/perkslotsSurv_blur.png') 0 -4608px;
}        
.slotSurv-19 {
background: url('/img/perkslotsSurv.png') 0 -4864px;
}

.blurred > .slotSurv-19 {
background: url('/img/perkslotsSurv_blur.png') 0 -4864px;
}        
.slotSurv-20 {
background: url('/img/perkslotsSurv.png') 0 -5120px;
}

.blurred > .slotSurv-20 {
background: url('/img/perkslotsSurv_blur.png') 0 -5120px;
}        
.slotSurv-21 {
background: url('/img/perkslotsSurv.png') 0 -5376px;
}

.blurred > .slotSurv-21 {
background: url('/img/perkslotsSurv_blur.png') 0 -5376px;
}        
.slotSurv-22 {
background: url('/img/perkslotsSurv.png') 0 -5632px;
}

.blurred > .slotSurv-22 {
background: url('/img/perkslotsSurv_blur.png') 0 -5632px;
}        
.slotSurv-23 {
background: url('/img/perkslotsSurv.png') 0 -5888px;
}

.blurred > .slotSurv-23 {
background: url('/img/perkslotsSurv_blur.png') 0 -5888px;
}        
.slotSurv-24 {
background: url('/img/perkslotsSurv.png') 0 -6144px;
}

.blurred > .slotSurv-24 {
background: url('/img/perkslotsSurv_blur.png') 0 -6144px;
}        
.slotSurv-25 {
background: url('/img/perkslotsSurv.png') 0 -6400px;
}

.blurred > .slotSurv-25 {
background: url('/img/perkslotsSurv_blur.png') 0 -6400px;
}        
.slotSurv-26 {
background: url('/img/perkslotsSurv.png') 0 -6656px;
}

.blurred > .slotSurv-26 {
background: url('/img/perkslotsSurv_blur.png') 0 -6656px;
}        
.slotSurv-27 {
background: url('/img/perkslotsSurv.png') 0 -6912px;
}

.blurred > .slotSurv-27 {
background: url('/img/perkslotsSurv_blur.png') 0 -6912px;
}        
.slotSurv-28 {
background: url('/img/perkslotsSurv.png') 0 -7168px;
}

.blurred > .slotSurv-28 {
background: url('/img/perkslotsSurv_blur.png') 0 -7168px;
}        
.slotSurv-29 {
background: url('/img/perkslotsSurv.png') 0 -7424px;
}

.blurred > .slotSurv-29 {
background: url('/img/perkslotsSurv_blur.png') 0 -7424px;
}        
.slotSurv-30 {
background: url('/img/perkslotsSurv.png') 0 -7680px;
}

.blurred > .slotSurv-30 {
background: url('/img/perkslotsSurv_blur.png') 0 -7680px;
}        
.slotSurv-31 {
background: url('/img/perkslotsSurv.png') 0 -7936px;
}

.blurred > .slotSurv-31 {
background: url('/img/perkslotsSurv_blur.png') 0 -7936px;
}        
.slotSurv-32 {
background: url('/img/perkslotsSurv.png') 0 -8192px;
}

.blurred > .slotSurv-32 {
background: url('/img/perkslotsSurv_blur.png') 0 -8192px;
}        
.slotSurv-33 {
background: url('/img/perkslotsSurv.png') 0 -8448px;
}

.blurred > .slotSurv-33 {
background: url('/img/perkslotsSurv_blur.png') 0 -8448px;
}        
.slotSurv-34 {
background: url('/img/perkslotsSurv.png') 0 -8704px;
}

.blurred > .slotSurv-34 {
background: url('/img/perkslotsSurv_blur.png') 0 -8704px;
}        
.slotSurv-35 {
background: url('/img/perkslotsSurv.png') 0 -8960px;
}

.blurred > .slotSurv-35 {
background: url('/img/perkslotsSurv_blur.png') 0 -8960px;
}        
.slotSurv-36 {
background: url('/img/perkslotsSurv.png') 0 -9216px;
}

.blurred > .slotSurv-36 {
background: url('/img/perkslotsSurv_blur.png') 0 -9216px;
}        
.slotSurv-37 {
background: url('/img/perkslotsSurv.png') 0 -9472px;
}

.blurred > .slotSurv-37 {
background: url('/img/perkslotsSurv_blur.png') 0 -9472px;
}        
.slotSurv-38 {
background: url('/img/perkslotsSurv.png') 0 -9728px;
}

.blurred > .slotSurv-38 {
background: url('/img/perkslotsSurv_blur.png') 0 -9728px;
}        
.slotSurv-39 {
background: url('/img/perkslotsSurv.png') 0 -9984px;
}

.blurred > .slotSurv-39 {
background: url('/img/perkslotsSurv_blur.png') 0 -9984px;
}        
.slotSurv-40 {
background: url('/img/perkslotsSurv.png') 0 -10240px;
}

.blurred > .slotSurv-40 {
background: url('/img/perkslotsSurv_blur.png') 0 -10240px;
}        
.slotSurv-41 {
background: url('/img/perkslotsSurv.png') 0 -10496px;
}

.blurred > .slotSurv-41 {
background: url('/img/perkslotsSurv_blur.png') 0 -10496px;
}        
.slotSurv-42 {
background: url('/img/perkslotsSurv.png') 0 -10752px;
}

.blurred > .slotSurv-42 {
background: url('/img/perkslotsSurv_blur.png') 0 -10752px;
}        
.slotSurv-43 {
background: url('/img/perkslotsSurv.png') 0 -11008px;
}

.blurred > .slotSurv-43 {
background: url('/img/perkslotsSurv_blur.png') 0 -11008px;
}        
.slotSurv-44 {
background: url('/img/perkslotsSurv.png') 0 -11264px;
}

.blurred > .slotSurv-44 {
background: url('/img/perkslotsSurv_blur.png') 0 -11264px;
}        
.slotSurv-45 {
background: url('/img/perkslotsSurv.png') 0 -11520px;
}

.blurred > .slotSurv-45 {
background: url('/img/perkslotsSurv_blur.png') 0 -11520px;
}        
.slotSurv-46 {
background: url('/img/perkslotsSurv.png') 0 -11776px;
}

.blurred > .slotSurv-46 {
background: url('/img/perkslotsSurv_blur.png') 0 -11776px;
}        
.slotSurv-47 {
background: url('/img/perkslotsSurv.png') 0 -12032px;
}

.blurred > .slotSurv-47 {
background: url('/img/perkslotsSurv_blur.png') 0 -12032px;
}        
.slotSurv-48 {
background: url('/img/perkslotsSurv.png') 0 -12288px;
}

.blurred > .slotSurv-48 {
background: url('/img/perkslotsSurv_blur.png') 0 -12288px;
}        
.slotSurv-49 {
background: url('/img/perkslotsSurv.png') 0 -12544px;
}

.blurred > .slotSurv-49 {
background: url('/img/perkslotsSurv_blur.png') 0 -12544px;
}        
.slotSurv-50 {
background: url('/img/perkslotsSurv.png') 0 -12800px;
}

.blurred > .slotSurv-50 {
background: url('/img/perkslotsSurv_blur.png') 0 -12800px;
}        
.slotSurv-51 {
background: url('/img/perkslotsSurv.png') 0 -13056px;
}

.blurred > .slotSurv-51 {
background: url('/img/perkslotsSurv_blur.png') 0 -13056px;
}        
.slotSurv-52 {
background: url('/img/perkslotsSurv.png') 0 -13312px;
}

.blurred > .slotSurv-52 {
background: url('/img/perkslotsSurv_blur.png') 0 -13312px;
}        
.slotSurv-53 {
background: url('/img/perkslotsSurv.png') 0 -13568px;
}

.blurred > .slotSurv-53 {
background: url('/img/perkslotsSurv_blur.png') 0 -13568px;
}        
.slotSurv-54 {
background: url('/img/perkslotsSurv.png') 0 -13824px;
}

.blurred > .slotSurv-54 {
background: url('/img/perkslotsSurv_blur.png') 0 -13824px;
}        
.slotSurv-55 {
background: url('/img/perkslotsSurv.png') 0 -14080px;
}

.blurred > .slotSurv-55 {
background: url('/img/perkslotsSurv_blur.png') 0 -14080px;
}        
.slotSurv-56 {
background: url('/img/perkslotsSurv.png') 0 -14336px;
}

.blurred > .slotSurv-56 {
background: url('/img/perkslotsSurv_blur.png') 0 -14336px;
}        
.slotSurv-57 {
background: url('/img/perkslotsSurv.png') 0 -14592px;
}

.blurred > .slotSurv-57 {
background: url('/img/perkslotsSurv_blur.png') 0 -14592px;
}        
.slotSurv-58 {
background: url('/img/perkslotsSurv.png') 0 -14848px;
}

.blurred > .slotSurv-58 {
background: url('/img/perkslotsSurv_blur.png') 0 -14848px;
}